:root{
  --purple1: #231942;
  --purple2: #5e548e;
  --purple3: #9f86c0;
  --purple4: #be95c4;
  --purple5: #e0b1cb;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--purple1);
  color: var(--purple5);
  font-family: "Raleway", sans-serif;
  padding: 3%;
}
main{
  display: flex;
  gap: 3rem;
}
section{
  flex-grow: 1;
}
h1{
  margin-bottom: 1.5rem;
}
h2{
  margin-bottom: 1rem;
}
form{
  border-radius: 10px;
  background-color: var(--purple2);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 600px;
}

.btn, input[type="submit"]{
  max-width: 200px;
  padding: 5px 15px;
  border-radius: 369px;
  background-color: var(--purple4);
  color: var(--purple1);
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover, input[type='submit']:hover{
  background-color: var(--purple5);
  cursor: pointer;
}
input[type="text"]{
  padding: 5px 15px;
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
}
input[type="text"]:focus{
  outline: 2px solid var(--purple1);
}
#display{
  background-color: var(--purple2);
  max-width: 600px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.listWrapper, #detailComments{
  list-style: none;
}
.listWrapper > li {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--purple5);
}
.listWrapper > li:last-child{
  border-bottom: none;
}

#bookDetail{
  padding: 1rem;
  max-width: 600px;
  border-radius: 10px;
  background-color: var(--purple4);
  color: var(--purple1);
  margin-bottom: 1rem;
}
#bookDetail .btn{
  background-color: var(--purple1);
  color: var(--purple4);
}
#bookDetail .btn:hover{
  background-color: var(--purple2);
  cursor: pointer;
}
#detailTitle{
  margin-bottom: 0.8rem;
}
#detailComments > li{
  padding: 0.5rem;
  border-top: 1px solid var(--purple2);

}

@media(max-width: 900px){
  main{
    flex-direction: column;
    gap: 2rem;
  }
  section{
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
  }
  form, #display, #bookDetail{
    margin: 0 auto 1rem auto;
  }
  h1, h2{
    text-align: center;
  }
}